name: Tests

on:
  push:
    paths-ignore:
      - ".md"
    branches:
      - main
  pull_request:
    paths-ignore:
      - "*.md"
    branches:
      - main

jobs:
  main:
    name: Build and run tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.0
      - uses: pnpm/action-setup@v2
        with:
          version: 10.20.0
          run_install: true
      - run: pnpm build
      - run: pnpm test:coverage
        
      - name: Publish Results Badge
        uses: wjervis7/vitest-badge-action@v1.0.0
        if: success() || failure() # run whether steps succeed or not
        with:
          result-type: lines
          upload-badge: false
          badge-text: coverage

      - name: Commit badge
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'chore: update code coverage badge'
          file_pattern: './badge.svg'  
